main {
    background: rgb(186,255,194);
    border-radius: 15px;
    left: 40px;
    top: 40px;
    min-width: 200px;
    width: 700px;
    max-width: fit-content;
    max-height: fit-content;
}



.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.input1 {
    background: rgb(186,255,194);
    color: rgb(255, 0, 0);
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
}

.input2 {
    background: rgb(186,255,194);
    color: rgb(255, 0, 0);
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
}

.mathOperation {
    background: rgb(186,255,194);
    color: rgb(255, 0, 0);
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin: 5px;
}


.button {
    display: flex;
    margin: 0 auto;
    background-color: rgb(186,255,194);
    color: rgb(255, 0, 0);
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 10px;
    padding: 7px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.textarea {
    display: flex;
    margin: 0 auto;
    border-style: dashed;
    border-color: rgb(255, 0, 0);
    border-radius: 5px;
    width: 300px;
    background-color: rgb(186,255,194);
    color: rgb(255, 0, 0);
}